*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

$raleway:"Raleway", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
$roboto: "Roboto", sans-serif;

$green: #5ece7b;
$black: #1d1f22;
$light: #a6a6a6;
$white: #ffffff;
